{% extends "base.html" %} {% block content %}
<div
    id="static-modal"
    data-modal-backdrop="static"
    tabindex="-1"
    aria-hidden="true"
    class="flex justify-center items-center w-full"
    >
    <div class="w-4xl bg-stone-800 rounded-xl grid grid-cols-3 gap-4 p-4 mt-8">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <img
                src={{ url_for('static', filename=raw_image) }}
                class="w-full object-cover block"
            />
        </div>
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <img
                src={{ url_for('static', filename=processed_image) }}
                class="w-full object-cover block"
            />
        </div>
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <img
                src={{ url_for('static', filename=masked_image) }}
                class="w-full object-cover block"
            />
        </div>
        <div></div>
        <div class="flex justify-center space-x-4">
            <a
                href={{ url_for('index') }}
                name="cross"
            >
                <img src = {{url_for('static', filename='back.png') }} />
            </a>

            <a
                href={{ url_for('delete_image', ind=magnified_ind) }}
                name="delete"
                class="w-10 h-10 rounded-full flex items-center justify-center shadow-sm"
            >
                <img src = {{url_for('static', filename='trash.png') }} />
            </a>

            <a
                href={{ url_for('download_image', ind=magnified_ind) }}
                name="download"
                class="w-10 h-10 rounded-full flex items-center justify-center shadow-sm"
            >
                <img src = {{url_for('static', filename='download.png') }} />
            </a>
        </div>

    </div>

</div>
{% endblock %}
