{% extends "base.html" %} {% block content %}
<ol>
    <div class="flex justify-center mt-4">
        <!-- <div class="w-2xl grid grid-cols-4 gap-4 border-solid"> -->
        {% if context.images %}
        <div
            class="w-2xl grid grid-cols-3 gap-4 p-4 rounded-xl border-2 border-color-stone-800"
        >
        {% endif %}
            {% for ind, image in enumerate(context.images) %}
            <div class="bg-stone-800 rounded-xl">
                <div class="h-16 sm:h-16"></div>
                <img
                    src={{ url_for('static', filename=image.path) }}
                    alt={{image.alt}}
                    class="w-full object-cover block"
                />
                <div class="mt-2 p-2 flex justify-center space-x-4">
                    <a
                        href={{ url_for('magnify_image', ind=ind) }}
                        name="magnify"
                        class="w-10 h-10 rounded-full flex items-center justify-center shadow-sm"
                    >
                        <img src="static/search.png" />
                    </a>
                    <a
                        href={{ url_for('delete_image', ind=ind) }}
                        name="delete"
                        class="w-10 h-10 rounded-full flex items-center justify-center shadow-sm"
                    >
                        <img src="static/trash.png" />
                    </a>
                    <button
                        name="download"
                        class="w-10 h-10 rounded-full flex items-center justify-center shadow-sm"
                    >
                        <img src="static/download.png" />
                    </button>
                </div>
            </div>
            {% endfor %}
        {% if context.images %}
        </div>
        {% endif %}
    </div>
</ol>

{% endblock %}
